@import "../../_var";

.pet-block {
    height: 100%;
    background-color: @cToxicGreen;
    position: relative;
    min-height: calc(100vh - var(--header-height) - var(--footer-height));

    &:before {
        .pseudo();
        .size(300%, 100%);
        left: -300%;
        background-color: @cToxicGreen;
    }

    &__wrapper {
        padding: 42px 87px 72px 0;
    }

    &__title {
        font: 900 32px/32px @fontRaleway;
        margin-bottom: 40px;
    }

    &__row {
        display: flex;
        flex-direction: row;
    }

    &__info {
        display: flex;
        flex-direction: column;
        margin: 0 40px;
    }
}
