@import "../../_var";

.pet-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 41px;
    background-color: @cDarkGray;
    width: 280px;
    color: @cWhite;
    padding: 48px 39px 60px;

    &__info {
        width: -webkit-fill-available;
        width: -moz-available;
    }

    &__name {
        font: 900 20px/20px @fontRaleway;
        margin-bottom: 25px;
    };

    &__img {
        .transit(transform);
        margin-bottom: 25px;
    }

    &--dead {
        .pet-card {
            &__img {
                transform: rotate(180deg);
            }
        }
    }
}
