@import "../_var";

.header {
    height: var(--header-height);

    &__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        overflow-y: unset;
    }

    &__logo {
        font: 900 32px/32px @fontRaleway;
    }
}
